i8
\i]kk,.container{
    justify-content: center;   
}
.navbar{
    background-color: #0158b4;
}
.navbar a{
    color: #fff;
}
#mynavbar{
    justify-content: center;
    font-size: 18px;
}
#mynavbar .dropdown-item{
    color: #fff;
    background-color:#085eb9 ;
}
.dropdown-menu{
    background-color:#085eb9 ;
}
.third-section{
    justify-content:center;
}
.third-section #fitness{
    background-color: #4b84cf;
    color: white;
    width: 17vw;
    padding: 5px 0px;
    font-size: 30px;
    text-align: center;
}
.third-section #exercise{
    width: 17vw;
    background-color:#912445fd ;
    padding: 5px 0px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.heading{
    color: rgb(146, 23, 23);
    border-bottom: 1px solid rgb(199, 199, 199);
    font-weight: bolder;
    font-size: 20px;
}
.forth-section h6{
    color: white;
    background-color:#1f418b;
    height: 40px;
    width: 260px;
}
.fitness-tip{
    background-color:#912445fd ;
    margin-top: 20px;
    height: 320px;
    width:90px;
}
.fitness-tip button{
    border: 0px;
    float: right;
    background-color:#bb486b;
}
.fifth-section{
    background: linear-gradient(rgba(12, 12, 12, 0.856),rgba(0, 0, 0, 0.959)),
                 url('images/back.jpg')center/cover no-repeat fixed; 
}
.fifth-section .card-title{
    text-align: center;
    margin:0  -20px;
    margin-top: 65px;
    color: white;
    background-color:rgba(0, 0, 0, 0.779) ;
    font-size: 15.5px;
    height:9vh;
}
footer{
    background-color: rgb(27, 27, 27);
    z-index: 1;
}
footer h5  {
    border-bottom: 2px solid rgb(148, 16, 60) ;
    padding-bottom: 15px;
}
footer li {
    list-style-type: none;
    margin-left: -40px;
}
footer li a{
    color: rgb(112, 112, 124);
    font-size:14px ;
}
footer .row-2{
    color: rgb(51, 51, 51);
    border-top: 1px solid rgb(51,51,51);
    padding-top:20px;
    font-size: 18px;
    
}
footer  .row-2 .copyright{
    margin-left: -20px;
}
.social-icon ul{
    margin-right: -45px;
}
.social-icon li{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    transform: translate(-50% , -50%);
}
.social-icon a{
    font-size: 20px;
}
.social-icon .iconify
{
    margin-top: 4px;
    animation:rotate 2s  cubic-bezier(0.3,0.2,0.9,0.6) ;
}
@keyframes rotate{
    0%{ 
        transform: rotateZ(0deg); 
    }
    50%{
        transform: rotateZ(360deg);
        font-size: 30px;
    }  
    100%{ 
        transform: rotateZ(10deg); 
    } 
}

/*--------------------MEDIA QUERY---------------*/


@media (max-width:1200px){
    .fifth-section .card-title{
    margin-top: 45px;
    font-size: 13px;
    height:8vh;
   }
 @media (max-width:1190px){
    .fitness-tip{
        height: 330px;
    }
    .fitness-tip .head{
        font-size: 33px;
    }

 }
 @media (max-width:1105px){
    .card-title #exercise{
         font-size: 27px;
     }
    .card-title #fitness{
        font-size: 27px;
    }
 }
 @media (max-width:994px){
    .card-title #fitness{
        font-size: 25px;
    }
    .fitness-tip{
        height: 320px;
    }
    .fitness-tip .head{
        font-size: 26px;      
    }
    .fitness-tip .body{
       font-size: 15px;
    }
    .fifth-section .card-title{
        margin-top:50px;
        font-size: 12px;
        height: 9vh;
} 
@media  (max-width:990px){
    .navbar li a{
        margin-left: 40px;
    }
    .fifth-section .card-title{
        margin-top:101px;
        font-size: 15px;
        height:10vh;
    }
}
@media (max-width:920px){
    .card-title #fitness{
        font-size: 20px;
        width: 140px;
      }
      .card-title #exercise{
        font-size: 20px;
        width: 140px;
      }
}
/*---------MEDIUM SCREEN----------*/

 @media (max-width:768px){
    .fitness-tip{
        height: 200px;
    }
  
    .fifth-section .card-title{
        margin-top: 125px;
        font-size: 17px;
        height: 10vh;
       }
}
@media (max-width:767px){
    .forth-section .img-gif img{
         justify-content: center;
    }
    .social-icon {
        margin-left: 100px;
        margin-top:30px;
    }
    footer .copyright{
        padding-left: 100px;
    }
}
/*--------------SMALL SCREEN------------*/

@media (max-width:575px){
    .fitness-tip{
        margin-right: 16px;
    }
    .fifth-section .fitness-tool{
        padding: 0 50px;
    }
    .forth-section , .heading ,.second-row ,.third-row{
        margin-left: 10px;
    }
    footer{
        padding-left: 10px;
    }
    .fifth-section .card-title{
        margin-top: 286px;
        height: 10vh;
}
    footer .copyright{
        
    }
    .social-icon{
        margin-left: 130px;
    }
}
@media (max-width:550px){
    .fifth-section .card-title{
        margin-top: 270px;}
    .social-icon{
        margin-left: 110px;
        
    }    
}
@media (max-width:530px){
    .fifth-section .card-title{
        margin-top: 260px;}
}
@media (max-width:510px){
    .fifth-section .card-title{
        margin-top: 234px;
 }
 footer .copyright{
    padding-left: 90px;
}
.social-icon{
    margin-left:90px;
}
}
@media (max-width:480px){
    .fifth-section .card-title{
        margin-top: 212px;
}
    .copyright{
        text-align: center;
    }
    .social-icon{
        margin-left: 60px;
    }
}
@media (max-width:450px){
    .card-title #fitness{
        font-size: 14px;
        width: 100px;
      }
      .card-title #exercise{
        font-size: 14px;
        width: 100px;
      }
      .fifth-section .card-title{
        margin-top: 184px;
     }
     .social-icon{
        margin-left: 50px;
    }
}
@media (max-width:420px){
    .fifth-section .card-title{
        margin-top: 165px;
}
    .social-icon{
        margin-left: 50px;
    }
}
@media (max-width:400px){
    .fifth-section .card-title{
        font-size: 17px;
        margin-top: 147px;
}
.social-icon{
        margin-left: 30px;
} }
 @media (max-width:375px){
    .fifth-section .card-title{
        font-size: 15px;
        margin-top: 123px;
}
.social-icon{
        margin-left: 10px;
} } 
@media (max-width:350px){
    .fifth-section .card-title{
     margin-top: 95px;
    }
}
@media (max-width:340px){
    .fifth-section .card-title{
        margin-top: 98px;
        font-size: 13px;
} } 
@media (max-width:320px){
    .fifth-section .card-title{
        margin-top: 96px;
        font-size: 12px;
}
.social-icon{
    margin-left: -10px;
} } 
@media (max-width:300px){
    .fitness-tip {
        height: 46vh;
    }
    .fifth-section .card-title{
        margin-top: 64px;
        font-size: 13px;
} } 
@media (max-width:280px){
    .fifth-section .card-title{
        margin-top: 54px;
        font-size: 12px;
} 
.social-icon li{
        height: 35px;
        font-size: 15px;
    }
} 
@media (max-width:270px){
    .fifth-section .card-title{
        margin-top: 55px;
        font-size: 10px;
        height:7vh;
} } 
@media (max-width:260px){
    .fifth-section .card-title{
      margin-top: 48px;
}
@media (max-width:250px){
    .fitness-tip{
        height: 50vh;
    }
    .fifth-section .card-title{
        margin-top: 40px;
} } 
@media (max-width:240px){
    .fifth-section .card-title{
        margin-top: 30px;
        font-size: 9px;
} } 
@media (max-width:220px){
    .fitness-tip{
        height: 55vh;
    }
    .fifth-section .card-title{
        margin-top: 15px;
} } 
@media (max-width:210px){
    .fifth-section .card-title{
        margin-top: 17px;
        font-size: 7px;
} } 

