.container{
    align-items: center;
    padding: 0px;
    margin-left: 65px;
}
.fitness-logo{
    padding: 20px 0 20px 30px; 

}
.navbar{
    width:102vw;
    font-size: 18px;   
    background-color:  #0158b4;
    padding: 0 100px;
}
.hamburger-menu{
    font-size: 30px;
    width: 5vw;
    height: 6vh;
    border: 1px solid rgba(255, 255, 255, 0.411);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.904);
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: rgb(209, 207, 207);
}

.cover-img{
    background: url(images/banner-1.jpg) center/cover no-repeat;
    height: 450px;
    width: 500px;
    padding: 50px 0 0 100px;
}
.third-section #fitness{
    background-color: #4b84cf;
    color: white;
    width: 17vw;
    padding: 5px 0px;
    font-size: 30px;
    text-align: center;
}
.third-section #exercise{
    width: 17vw;
    background-color:#912445fd ;
    padding: 5px 0px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.fitness-tip{
    background-color:#912445fd ;
    height:300px;
    color: rgb(218, 216, 216);
}
.fitness-tip p{
    font-size: 17px;
}
.fitness-tip button{
    color: white;
    border: 0px;
    float: right;
    background-color:#bb486b;
}
.fitness-tip button:hover{
    color: black;
    background-color: white;
}
.forth-section .latest-exercise{
    margin-left: -100px;
}
.forth-section .tea-blend  img{
    height: 290px;
    width:350px;
}

.heading{
    color: rgb(146, 23, 23);
    border-bottom: 1px solid rgb(199, 199, 199);
    font-weight: bolder;
    font-size: 18px;
}
.forth-section h6{
    color: white;
    background-color:#1f418b;
    height: 40px;
    width: 260px;
    
}
.forth-section .tea-blend .para{
    margin-top: 210px;
    border-bottom: 0px;
    color: black;
    font-weight: normal;
}
.forth-section .img-gif .para{
    border-bottom: 0px;
    color: black;
    font-weight: normal;
}
.forth-section .img-gif img{
    margin-left: -70px;
}
.forth-section .bullet-point p{
    border-bottom: 0px;
    color: black;
    font-weight: normal;
    font-size: 15px;
}
.forth-section .button{
    float: right;
    border: 0px;
    background-color: #1f418b ;
}
.forth-section .button:hover{
    background-color: rgb(1, 134, 243);
}
.read-more{
    float: right;
    border: 0px;
    background-color: #1f418b ;
}
#muffin{
    width: 260px;
    height: 200px;
}
.second-row .para{
    border-bottom: 0px;
    color: black;
    font-weight: normal;
}
.second-row button{
    margin-right: 100px;
}
.third-row .para{
    border-bottom: 0px;
    color: black;
    font-weight: normal;
}
.third-row img{
    width: 250px;
    height: 200px;
}
.fifth-section{
    background: linear-gradient(rgba(12, 12, 12, 0.856),rgba(0, 0, 0, 0.959)),
                 url('images/back.jpg')center/cover no-repeat fixed;  
    height: 55vh;
    width: 100vw;
    margin:0 0px 0 -65px;
    text-align: center;    
} 
.fifth-section h2{
    margin-left: 550px;
    margin-top: 10px;
    color: white;
}
.fifth-section .fitness-tool{
    padding: 0 0 0 110px ;
    align-items: center;
}
.card{
    border: 0px;
    border-radius: 0px;
    margin:0 5px 23px 5px;
}
.fifth-section img{
    width: 13vw;
    height: 35vh;
}
.fifth-section .card-title{
    margin:0  -20px;
    margin-top: 110px;
    color: white;
    background-color:rgba(0, 0, 0, 0.779) ;
    font-size: 15px;
    height:9vh;
}

.footer{
    width: 100vw;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 50px 125px;
}
.footer h3  
{
    font-size: 20px;
    border-bottom: 2px solid rgb(148, 16, 60) ;
    padding-left: -50px;
    padding-bottom: 15px;
}
.footer li{
    margin-left: -40px;
    list-style-type: none;
}

.footer a{
    color: rgb(112, 112, 124);
    
}
.footer .row-2{
    color: rgb(51, 51, 51);
    border-top: 1px solid rgb(51,51,51);
    padding-top:20px;
}
.social-icon{
    margin: 35px -70px 0 0;
}
.social-icon li{
    margin-right: 45px;
    height: 7vh;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgb(51, 51, 51);
    width: 2.7vw;
    text-align: center;
    transform: translate(-50% , -50%);
}
.social-icon .iconify:hover
{
    animation:rotate 1.8s  cubic-bezier(0.3,0.2,0.9,0.6) ;
}
@keyframes rotate{
    0%{ 
        transform: rotateZ(0deg); 
    }
    50%{
        transform: rotateZ(360deg);
        font-size: 30px;
    }  
    100%{ 
        transform: rotateZ(5deg); 
    } 
}

/*------------------------------------MEDIA QUERY---------------------------------------*/

/*-------------------------EXTRA LARGE SCREEN---------------------------*/

@media (max-width:1300px){
    #mynavbar ul a{
        font-size: 17px;
    }
    .third-section{
        margin-right: 50px;
    }
    .third-section .fitness-tip{
        height: 60vh;
    }
    .fitness-tip{
        height: 340px;
    }
    .fifth-section p{
        /*width: 13.0vw;*/
        font-size: 16px;
    }
    .fifth-section .fitness-tool{
        padding: 0 0 0 110px;
    }
}
@media (max-width:1250px){
    .navbar{
        width: 101.5vw;
    }
    #mynavbar ul a{
        font-size: 16px;
    }
    .third-section{
        margin-right: 70px;
    }
    .fifth-section{
        width: 101.5vw ;
    }
    .fifth-section h2{
        margin-left: 520px;
    }
    .footer{
        width:101.5vw;
    }
   
    
}

/*-----------------------------LARGE SCREEN------------------------------------*/

@media (max-width:1200px){
    .navbar{
        width: 100.4vw;
    }
    #mynavbar ul a{
        margin-left: -15px;
    }
    .third-section{
        margin:0 -50px 0 60px;
    }
    
    .third-section .fitness-tip{
        height: 350px;
    }
    .third-section .fitness-tip .para{
        font-size:16px;
    }
    .forth-section .tea-blend img{
        height: 280px;
        width: 320px;
    }
    .img-gif img{
        height: 400px;
        width: 300px;
    }
    .forth-section .latest-exercise{
        padding-left:80px;
    }
    .fifth-section{
        width: 100.5vw;
    }
    .fifth-section .fitness-tool{
        padding-left:80px;
    }
    .fifth-section h2{
        margin-top: 20px;
        margin-left: 500px;  
      }
    .fifth-section img{
        align-items: center;
        height: 150px;
        width:160px;   
    }
    .card .card-title{
        margin-top: 86px;
    }
    .social-icon li{
         width: 2.9vw;
    }
    .footer{
        width:100.5vw;
    }
}
@media(max-width:1150px){
    .navbar{
        width: 100vw;
        font-size: 17px;
    }
    #mynavbar ul a{
        margin-left: -15px;
    }
    .third-section{
        margin-right: 50px;
    }
    .third-section .fitness-tip{
        height: 300px;
    }
    .third-section #fitness{
        font-size: 25px;
    }
    .third-section #exercise{
        font-size:25px ;
    }
     .fifth-section h2{
         margin: 0%;
         padding:  20px 0 0 460px;
     }
    .fifth-section .fitness-tool{
        padding-left: 60px;
    }
}
@media(max-width:1100px){
    #mynavbar ul a{
        margin-left: -21px;
    }
    .navbar{
        width: 101vw;
    }
    .fifth-section h2{
        padding-left: 440px;
    }
    .fifth-section .card img{
        height: 140px;
        width: 140px;
    }
    .fifth-section .fitness-tool{
        margin-left: 10px;
    }
    .fitness-tool .card-title{
        margin-top: 80px;
        font-size: 14px;
    }

}
@media(max-width:1050px){
    #mynavbar ul a{
        font-size: 14px;
    }
    .third-section{
        margin-right: 100px;
    }
    .third-section .fitness-tip{
        height: 270px;
    }
    .fitness-tip h1{
        font-size: 27px;
    }
    .third-section .fitness-tip .para{
        font-size: 15px;
    }
    .fitness-tip .button{
        font-size: 14px;
    }
    .fifth-section .fitness-tool{
        padding-left: 40px;
    }
    .navbar{
        font-size: 16px;
    }
    .social-icon li{
        width: 3.3vw;
    }
}
@media(max-width:1000px){
    .third-section .cover-img{
        height: 70vh;
        width: 200px;
    }
    .third-section .fitness-tip{
        height:260px;
    }
    .fifth-section{
        width: 100vw;
    }
    .fifth-section h2{
        margin: 0px;
        padding-left:400px ;
        padding-top: 26px;
    }
    .fifth-section .fitness-tool{
        padding-left: 20px
    }
  }
    /*----------------------------MEDIUM SCREEN------------------------------*/
@media (max-width:988px){
    #mynavbar ul li a{
      display: block;
    }
    
}
@media (max-width:995px){
    .navbar{
        width: 100vw;
        font-size: 15px;
    }
    .hamburger-menu{
        height: 7vh;
    }
    .third-section{
        margin: 0px;
    }
    .third-section .cover-img{
        width: 200px;
    }
    .third-section #fitness{
        font-size: 22px;
    }
    .third-section #exercise{
        font-size: 22px;
    }
    .third-section .fitness-tip{
       height: 310px;
       width: 100px;
    }
    .third-section .fitness-tip h1{
       font-size: 35px;
    }
    .forth-section .tea-blend img{
        height: 200px;
        width: 250px;
    }
    .second-row .para{
        margin: 0 -100px 0 100px;
    }
    .second-row .read-more{
        margin: 10px 65px 0 0;
    }
    .third-row .para{
        margin: 0 -100px 0 100px;
    }
    .third-row .read-more{
        margin: 10px 10px 0 0px ;
    }
    .fifth-section{
        width: 100vw;
    }
    .fifth-section .fitness-tool{
        padding-top: 1px;
        padding-left: 50px;
    }
    .fitness-tool .card-title{
        font-size: 11px;
    }
    .fifth-section .card img{
        height: 130px;
        width: 130px;
    }
    .copyright{
        }
    .social-icon{
        margin: 40px -90px 0 0;
    }
    .social-icon li{
        width: 3.6vw;
    }
    .footer{
        width: 100vw;
    }
}
@media (max-width:935px){
    .navbar{
        width: 100vw;
    }
    .third-section {
        margin-right: 30px;
    }
    .social-icon li{
        width: 4vw;
    }
    .fifth-section{
        width: 100vw;
    }
    .fifth-section h2{
        font-size: 27px;
    }
    .fifth-section .card img{
        height: 120px;
        width: 110px;
    }
    .fifth-section .fitness-tool .card-title{
        margin-top: 60px;
    }
    .fifth-section  .fitness-tool{
        padding: 50px;
    }
    .footer{
      width:  100vw;
    }
}
@media (max-width:850px){
    .navbar{
        width:100vw;
}.third-section {
    margin-right: 50px;
}
    .third-section #fitness{
        font-size: 20px;
}
   .third-section #exercise{
        font-size: 20px;
} 
    .fifth-section{
        height: 46vh;
        width: 100vw;
    }
    .fifth-section .fitness-tool{
        padding-left: 40px;
        padding-top: 15px;
    }
    .fifth-section h2{
        padding-left: 350px;
    }
}
@media (max-width:812px){
    .navbar{
        width:100vw;
    }
    .forth-section .tea-blend img{
        width: 200px;
        height: 180px;
    }
    .bullet-point p{
        margin-right: -40px;
    }
    .forth-section {
        margin-left: -10px;
    }
    .fifth-section .fitness-tool{
        padding-top: 20px;
    }  
    .fifth-section .fitness-tool img{
        width:100px;
    }
    .footer{
        width: 102vw;
    }
}
/*-----------------------------SMALL SCREEN------------------------------------*/

@media (max-width:768px){
    .navbar{
        width: 500px;
    }
    .third-section{
        margin-left:  -60px;
    }
    .cover-img{
        margin-left: 30px;
        height: 360px;
        padding: 70px 0 0 50px;
    }
    .third-section #fitness{
        font-size: 18px;
    }
    .third-section #exercise{
        font-size: 18px;
    }
    .third-section .fitness-tip {
        margin-top:20px ;
        margin-left: 50px;
        height: 40vh;
        width: 30vw;
    }
    .navbar{
        width:90vw;
        font-size: 15px;
    }
    .hamburger-menu{
    }
    .forth-section .tea-blend img{
        margin: 0%;
        height: 60%;
        width: 100%;
    }
    .forth-section .tea-blend .para{
        margin: 0%;
    }
    .forth-section .img-gif{
        margin-left: 40px;
    }
    .forth-section .img-gif img{
        height:67% ;
        width: 100%;
    }
    .img-gif .heading{
        margin: 0 0 0 -40px;
    }
    .forth-section .img-gif .para{
        margin: 0%;
    }
    .forth-section .latest-exercise{
        margin-top: 100px;
    }
    #muffin{
        height: 100%;
        width: 100%;
    }
    .second-row .para{
        margin: 0%;
    }
    .third-row img{
        width: 100%;
        height: 100%;
    }
    .third-row .para{
        margin: 0%;
    }
    .fifth-section{
        width: 90vw;
        height: 200vh;
    }
    .fifth-section h2{
       font-size: 40px; 
       padding-left: 250px;
    }
    .fifth-section .fitness-tool img{
        width: 250px;
        height: 230px;
    }
    .fifth-section .fitness-tool .card-title{
        margin-top: 140px;
        font-size: 20px;
        height: 15vh;
    }
    .fifth-section .fitness-tool{
        padding-top: 10px;
        padding-left: 50px;
    }
    .social-icon{
        margin: 60px 00px 0 10px;
    }
    .social-icon li{
        width: 4.4vw;
    }
    .footer{
       
       margin-left: -20px; width:93vw;
    }
    .copyright{
        margin-left: 0px;
    }
}
@media(max-width:650px){
    .navbar{
        width: 100vw;
    }   
    .third-section #fitness{
        font-size: 16px;
    }
    .cover-img{
       margin-left: 80px;
       height: 400px;
       padding: 70px 0 0 50px;
    }
    .third-section #exercise{
        font-size: 16px;
    }
    .fifth-section{
        height: 320vh;
    }
    .fifth-section h2{
        padding-left: 200px;
    }
    .fifth-section .fitness-tool img{
        width: 220px;
        height: 220px;
    }
    .fifth-section .fitness-tool{
        padding-left: 40px;
    }
    .social-icon{
        margin: 50px 0 0 10px;
    }
    .social-icon li{
        width: 6vw;
    }
}
/*-------------------------EXTRA SMALL SCREEN--------------------  */

@media(max-width:576px){
   .navbar{
       width: 100vw;
   }
   .third-section #exercise{
    font-size: 12px;
}
.third-section #fitness{
    font-size: 12px;
}
.fifth-section{
    height: 370vh;
}
.fifth-section h2{
    padding-left: 150px;
}
.fifth-section .fitness-tool{
    padding-left: 110px;
}
.fifth-section .fitness-tool .card-title{
    margin-top: 170px;
}
.fifth-section .fitness-tool img{
    width: 260px;
    height: 260px;
}
.footer{
    width: 102vw;
}
.social-icon li{
    width: 6vw;
}
.social-icon{
    margin: 70px 0px 0 10px ;
}
.copyright{
    margin-left: 0%;
}
}
@media(max-width:450px) {
    .navbar{
        margin: 0;
        width: 130vw;
    }
    .fitness-tip .button{
        margin-top: -20px;
    }
    .third-section .img-gif {
        
    }
    .third-section .cover-img{
        margin-left: 20px;
        height: 250px;
    }
    .third-section #exercise{
        font-size: 11px;
    }
    .third-section #fitness{
        font-size: 11px;
    }
    .third-section .fitness-tip{
        margin-left: 10px;
        padding: 0 50px;
        height:200px;
        width: 130vw;
    }
    .third-section .fitness-tip h1{
        font-size: 25px;
    }
    .third-section .fitness-tip .para{
        font-size: 15px;
    }
    .third-section .fitness-tip .button{
        font-size: 13px;
    }
    #hidden{
        visibility: hidden;
    }
    .img-gif .button{
        margin-top: -120px;
    }
    .forth-section .latest-exercise{
        margin-top: 70px;
    }
    .fifth-section{
        width: 129vw;
        height: 380vh;
    }
    .fifth-section h2{
        font-size: 50px;
        margin-left: -20px;
    }
    .fifth-section .fitness-tool{
        padding:10px 0 0 130px;
    }
    .fifth-section .card img{
        height: 260px;
        width: 260px;
    }
    .fifth-section .card-title{
        margin-top: 136px;
        font-size: 20px;
    }
    .footer{
        width: 130vw;
    }
    .social-icon li{
        width:10vw;
    }
}
@media(max-width:370px){
    .first-row .latest-exercise{
        padding-top: 450px;
    }
    .fitness-tip{
        height: 30vh;
    }
    .fitness-tip .button{
        margin-top: -18px;
    }
    .fifth-section .fitness-tool{
        margin-left: -40px;
    }
    #hidden{
        visibility: hidden;
    }
    .img-gif .button{
        margin-top: -150px;
    }
    .fifth-section h2{
        padding-left: 100px;
    }
    .fifth-section{
        width: 130vw;
    }
}



